<div class="row">
  <div class="span0 well text-center">
    <%= link_to vote_post_path(post, vote: true), method: 'post' do %>
      <i class="icon-arrow-up"></i>
    <% end %>
    <br>
    <%= post.total_votes %> votes
    <%-# post.votes.where(vote: true).size - post.votes.where(vote: false).size -%>
    <br>
    <%= link_to vote_post_path(post, vote: false), method: 'post' do %>
      <i class="icon-arrow-down"></i>
    <% end %>
  </div>

  <div class="span7 well">
    <%= render post.categories %>
    <br><br>
    <h4><%= link_to post.title, fix_url(post.url) %></h4>  <!-- post_path(post) -->
    <p><%= post.description %></p>
    <p>    
      <hr class="hr_post">                                   
      <span class="quiet">posted by</span> <%= link_to post.creator.username, user_path(post.creator) %>
      <small>at <%= display_datetime(post.created_at) %></small>
      <small class="comments_on_post"><%= link_to("#{post.comments.size} comments", post_path(post)) %></small>
    </p>
    <small>
    <span>
      
    </span>
    </small>
  </div>
</div>
