<p class="pull-right">
  [<%= link_to 'edit this post', edit_post_path(@post)%>]
</p>

<p>  <%= render @post.categories %> </p>
<%= render 'shared/content_title', title: @post.title %>

<p><strong>Post description:</strong> <%= @post.description %> </p>
<p><strong>Post's url:</strong> <%= @post.url %> </p>
<hr>

<form action="/">
  <input class="btn btn-primary" type="submit" value="Back to Index">
</form>