<% header = link_to('All Posts', posts_path) + " &raquo; #{@post.title}".html_safe %>
<%= render 'shared/content_title', title: header %>

<p class="pull-right">
  [<%= link_to 'edit this post', edit_post_path(@post)%>]
</p>

<p>  <%= render @post.categories %> </p>
<%= render 'shared/content_title', title: @post.title %>

<p><strong>Post description:</strong> <%= @post.description %> </p>
<p><strong>Post's url:</strong> <%= @post.url %> </p>
<hr>


<% if logged_in? %>
  <%= form_for [@post, @comment] do |f| %>
    <% render 'shared/errors', obj: @comment %>
    <div class="control-group">
      <%= f.label :body, "Leave a comment:" %>
      <%= f.text_area :body, rows: 5, class: "span-4" %>
    </div>
    <%= f.submit "Create comment", class: "btn btn-warning" %>
  <% end %>
<% end %>

<h5>Comments:</h5>

<% @post.comments.each do |comment| %>
  <%= render 'comments/comment', comment: comment, show_post: false %>
<% end %>