<ul class="nav navtitle">
  <li>
    <%= link_to "WILLEM'S REDD!t_", root_path, :class => 'brand' %>
  </li>
</ul>
<div class="btn-group nav_item">
  <%= link_to '#', class: 'btn  dropdown-toggle', 'data-toggle' => 'dropdown' do %>
    Categories <span class='caret'></span>
  <% end %>
  <ul class="dropdown-menu">
    <% Category.all.each do |category| %>
      <li><%= link_to category.name, category_path(category)%></li>
    <% end %>
    
    <% if logged_in? %>
      <li class="divider"></li>
      <li>
        <%= link_to(new_category_path) do %>
          <i class="icon-plus" ></i>
          New Category
        <% end %>
      </li>
    <% end %>
    
  </ul>
 </div>

<% if logged_in? %>
  <div class="nav_item">
    <%= link_to 'New Post', new_post_path, class: 'btn btn-outline ' %>
  </div>
  <div class="btn-group nav_item">
    <%= link_to('', class: 'btn  dropdown-toggle', 'data-toggle' => 'dropdown') do %>
      <%= current_user.username %>
      <span class='caret'></span>
    <% end %>
    <ul class="dropdown-menu">
      <li> 
      <%= link_to edit_user_path(current_user) do %>
        <i class='icon-pencil'></i>
        &nbsp;&nbsp; Edit Profile
      <% end %>
      </li>
      <li> 
      <%= link_to user_path(current_user) do %>
        <i class='icon-user'></i>
        &nbsp;&nbsp; View Profile
      <% end %>
      </li>
      <li> 
      <%= link_to logout_path do %>
        <i class='icon-circle-arrow-left'></i>
        &nbsp;&nbsp; Logout
      <% end %>
      </li>
    </ul>
  </div>

<% else %>
  <div class="nav_item">
    <%= link_to 'Register', register_path, class: 'btn btn-primary ' %>
  </div>
  <div class="nav_item">
    <%= link_to 'Log in', login_path, class: 'btn ' %>
  </div>
<% end %>
